@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat";
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    width: 650px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 25px;
}


form {
    width: 650px;
    margin: auto;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
}
legend {
    padding: .5rem;
    color: navy;
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}


input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}


input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;

}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: .8em;
    color: #777;
    border-top: 1px solid #ccc;
}


.form-item {
    display: grid;
    align-items: center;
}



.column1 {
    grid-template-columns: 3fr 2fr;
    margin: .5rem 0;
}


.column2 {
    grid-template-columns: 1fr 2fr;
}

#lived {
    text-align: center;
    margin-top: 1.5rem;
}